name: build and deploy

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      
      - name: setup .net sdk
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: install wasm-tools
        run: dotnet workload install wasm-tools
      
      - name: dotnet publish
        run: dotnet publish -p:GHPages=true -o dist

      - name: deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          BRANCH: gh-pages
          FOLDER: dist/wwwroot
